.card-area {
    max-width: 360px;
    width: 100%;
    margin: 100px auto 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 4px 10px #ddd;
    background-color: white;
}
.card-area h2{
    padding:0;
    margin:0;
    text-align:center;
}
.card-area .form-group {
    clear: both;
    overflow: hidden;
}
.card-area .form-group label {
    display: block;
    width: 100%;
    line-height: 25px;
    margin-top: 10px;
}
.card-area .form-group input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 35px;
    padding: 5px 15px;
    outline: none;
}
.form-group.login {
    text-align: center;
}
.card-area .form-group input[type="submit"] {
    width: 120px;
    margin: 10px auto 10px;
    padding: 8px 5px;
    height: auto;
    outline: none;
    background-color: crimson;
    color: white;
}
.form-group.login {
    text-align: center;
    margin-bottom: 0;
}
.login .login,
.login .Register {
    display: block;
    color: #070d2a;
}